<%# --DOCUMENTATION-- 
    to render an index you will need to pass the following paramters:

    currentPath: String | this is the path of the current page, ex: /projects 
    used for things such as toggling active nav-item in the navbar and for 
    href navigation

    ajaxFrom: String | this is the endpoint, the ajax script will fetch the data from.

    ajaxCallbackName: String | Must be one of the file names in /views/ajax/callbacks.

 %> 


<%- include('parts/header.ejs',{currentPath: currentPath}) %>

<div class="content true-content"></div>

<%- include('ajax/pullData.ejs', { ajaxFrom : ajaxFrom, ajaxCallbackName: ajaxCallbackName ,currentPath: currentPath} ) %>

<%- include('parts/footer.ejs') %>
