<%- include('parts/header.ejs',{activePage: "projects"}) %>

<div class="content d-flex">

</div>

<%- include('fetchData.ejs', { from : "/api/projects", currentPath: "/projects"} ) %>

<%- include('parts/footer.ejs') %>
