<%# --DOCUMENTATION-- 
    to render this you will need to pass the following paramters:

    currentPath: String | this is the path of the current page, ex: /projects 
    used for things such as toggling active nav-item in the navbar and for 
    href navigation

    ajaxFrom: String | this is the endpoint, the ajax script will fetch the data from.

    ajaxCallbackName: String | Must be one of the file names in /views/ajax/callbacks.

 %> 

<%- include('parts/header.ejs',{currentPath: currentPath}) %>

<div class="content">
  <div class="container-fluid">
    <!-- First column for ad content-->
    <div class="row">
      <div class="col-sm" style="background-color:white;color:black">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque
          delectus id tempora cum. Nobis, provident quibusdam rerum culpa minus
          ut perspiciatis? Voluptatum aperiam explicabo sapiente accusantium
          pariatur consequatur iusto incidunt.
        </p>
      </div>

      <!-- this column is for true content-->
      <div class="col-sm-7 true-content">

      </div>

      <!-- the 3rd column is also for ads-->
      <div class="col-sm" style="background-color:white;color:black">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque
          delectus id tempora cum. Nobis, provident quibusdam rerum culpa minus
          ut perspiciatis? Voluptatum aperiam explicabo sapiente accusantium
          pariatur consequatur iusto incidunt.
        </p>
      </div>
    </div>
    <!-- the closing div tag above is for the ending of the row-->
  </div>
</div>

<%- include('ajax/pullData.ejs',{ ajaxFrom: ajaxFrom , ajaxCallbackName: ajaxCallbackName }) %>

<%- include('parts/footer.ejs') %>
