<%- include('parts/header.ejs',{currentPath: "/home"}) %>

<div class="content">
  <div class="container-fluid">
    <!-- First column for ad content-->
    <div class="row">
      <div class="col-sm" style="background-color:white;color:black">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque
          delectus id tempora cum. Nobis, provident quibusdam rerum culpa minus
          ut perspiciatis? Voluptatum aperiam explicabo sapiente accusantium
          pariatur consequatur iusto incidunt.
        </p>
      </div>

      <!-- this column is for actual content-->
      <div class="col-sm-7">
        <%- include('components/carousel.ejs') %> <%-
        include('components/embed.ejs') %>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
          similique fuga placeat. Explicabo cum molestiae velit eligendi, ut ad,
          distinctio praesentium assumenda nesciunt consectetur, id veniam non
          repellat nulla libero!
        </p>
        
      </div>

      <!-- the 3rd column is also for ads-->
      <div class="col-sm" style="background-color:white;color:black">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque
          delectus id tempora cum. Nobis, provident quibusdam rerum culpa minus
          ut perspiciatis? Voluptatum aperiam explicabo sapiente accusantium
          pariatur consequatur iusto incidunt.
        </p>
      </div>
    </div>
    <!-- the closing div tag above is for the ending of the row-->
  </div>
</div>

<%- include('parts/footer.ejs') %>
