.content {
  background-image: url(#);
  background-position: center top 55px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto calc(100vh - 55px);
  min-height: calc(100vh - 55px);
  margin-top: 55px;
  color: white;
  padding:20px;
}

.content.d-flex{
justify-content: space-evenly;
align-items: baseline;
flex-flow: row wrap;
}

.bg-dark {
    background-color: #222629!important;
}

.bg-green{
  background-color: #618930!important;
}

.bg-bright-green {
  background-color: #87C232!important;
}
.rounded-bottom {
  border-bottom-right-radius: 3rem!important;
  border-bottom-left-radius: 3rem!important;
}

.rounded-top {
  border-top-right-radius: 3rem!important;
  border-top-left-radius: 3rem!important;
}

.rounded{
  border-radius: 3rem!important;
}

.card {
  border: 0px;
}