html, body, #app {
  height: 100%;
  color:white;
}

.navbar{
  height:50px;
  }
  
.content {
  background-image: url(#);
  background-position: center top 55px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto calc(100vh - 200px);
  height: 100%;
  padding-top: 70px;
}

.index-screen{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-flow: row wrap;
}

:root {
  --pen-stroke: #181a1f;
}

.router-link-active {
  color: var(--teal)!important;
}

.spinner-container{
  margin:auto;
}

.spinner-border{
  height:8rem;
  width:8rem;
  color: var(--teal)!important;
}

.bg-dark {
  background-color: #21252b !important;
}

.bg-lighter-dark {
  background-color: #282c34 !important;
}

.card {
  border: 0px;
}

.rounded-bottom {
  border-bottom-right-radius: 3rem !important;
  border-bottom-left-radius: 3rem !important;
}

.border {
  border: 1px solid var(--pen-stroke) !important;
}

.rounded-top {
  border-top-right-radius: 3rem !important;
  border-top-left-radius: 3rem !important;
}

.rounded {
  border-radius: 3rem !important;
}

.navbar-nav {
  text-align: center;
}

.aspect-ratio-16by9 {
  background-color: orange;
  padding-top: 56.25%;
  height: 0;
  position: relative;
}

.aspect-ratio-child {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.carousel-inner,.carousel-item,.carousel-item *{
  height:100%;
  width:100%;}

.carousel-item * {
  object-fit: contain;
}

