html, body, #app {
  height: 100%;
  color:white;
  font-family: 'Press Start 2P', cursive;
}

  p{
    word-wrap: break-word;
  }
  
.content {
  background-image: url(#);
  background-position: center top 55px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto calc(100vh - 200px);
  height: 100%;
  padding-top: 70px;
}

textarea{
height:100px!important;
}

.index-screen{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}


:root {
  --pen-stroke: #181a1f;
}

.router-link-active {
  color: var(--teal)!important;
}


.loading-indicator::after{
  content: 'Loading  ^o^';
  display: block;
  -webkit-animation: loading;
          animation: loading;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  padding-top:20px;
  padding-left:20px;
}

@-webkit-keyframes loading {
  25% {content: "Loading >.>"}
  50% {content: "Loading <.<"}
  75% {content: "Loading v.v"}
}

@keyframes loading {
  25% {content: "Loading >.>"}
  50% {content: "Loading <.<"}
  75% {content: "Loading v.v"}
}

.bg-dark {
  background-color: #21252b !important;
}

.bg-lighter-dark {
  background-color: #282c34 !important;
}

.card {
  border: 0px;
  width: 18rem;
}

.card-text{
  max-height:150px;
  height:150px;
  overflow: auto;
}

.card-btn{
  margin-top:1rem;
}

.card-img-top{
  height:170px;
  max-height:170px;
}

.rounded-bottom {
  border-bottom-right-radius: 3rem !important;
  border-bottom-left-radius: 3rem !important;
}

.border {
  border: 1px solid var(--pen-stroke) !important;
}

.rounded-top {
  border-top-right-radius: 3rem !important;
  border-top-left-radius: 3rem !important;
}

.rounded {
  border-radius: 3rem !important;
}

.navbar-nav {
  text-align: center;
}

.btn-teal{
  color: #fff;
  background-color: var(--teal);
  border-color: var(--teal);
}


.aspect-ratio-child {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.carousel-inner,.carousel-item,.carousel-item *{
  height:100%;
  width:100%;}

.carousel-item * {
  object-fit: contain;
}

