<div class="card m-4 rounded bg-dark shadow" style="width: 18rem;">
  
  <img src="${thumbnailUrl}" class="card-img-top rounded-top p-1" alt="thumbnail">

  <div class="card-body">

    <h5 class="card-title">${name}</h5>

    <p class="card-text">
    ${shortDescription}
    </p>

    <a href="${moreDetailsUrl}"
      class="btn btn-dark rounded">
      More Details
    </a>

  </div>

</div>
