<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <link rel="stylesheet" type="text/css" href="/public/css/style.css">

  <title>Soulera</title>

</head>

<body class="bg-paper">
  <!--navbar--------------------------------------------------->
  <nav class="navbar shadow rounded-bottom justify-content-center navbar-expand-sm navbar-dark bg-paper fixed-top">
    <!--toggler-->
    <button class="navbar-toggler mb-1" type="button" data-toggle="collapse" data-target="#navContainer" aria-controls="navContainer" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!--nav container-->
    <div class="collapse navbar-collapse" id="navContainer">

      <!--nav-->
      <div class="navbar-nav ml-sm-4">
        <a class="nav-item nav-link <% if (activePage==="home"){ %> active <% } %>" href="/home">Home</a>
        <a class="nav-item nav-link <% if (activePage==="projects"){ %> active <% } %>" href="/projects">Projects</a>
        <a class="nav-item nav-link <% if (activePage==="members"){ %> active <% } %>" href="/members">Members</a>
      </div>
      <!--end of nav-->

    </div>
    <!--end of nav container-->

  </nav>
  <!-- end of navbar------------------------------------------->
