<div class="card border m-4 rounded bg-light shadow" style="width: 18rem;">
  
  <img src="${imgUrl}" class="card-img-top rounded p-1" alt="...">

  <div class="card-body">

    <h5 class="card-title">${projectName}</h5>

    <p class="card-text">
    ${projectShortDescription}
    </p>

    <a href="#"
      class="btn btn-light rounded border">
      Project Page
    </a>

  </div>

</div>
