<div class="card m-4 shadow-lg bg-green rounded" style="width: 18rem;">
  
  <img src="${imgUrl}" class="card-img-top rounded-top" alt="...">

  <div class="card-body">

    <h5 class="card-title">${projectName}</h5>

    <p class="card-text">
    ${projectShortDescription}
    </p>

    <a href="#"
      class="btn btn-outline-light rounded">
      Go to project page
    </a>

  </div>

</div>
