<%- include('components/carousel.ejs') %>
<%- include('components/embed.ejs') %>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
  similique fuga placeat. Explicabo cum molestiae velit eligendi, ut ad,
  distinctio praesentium assumenda nesciunt consectetur, id veniam non
  repellat nulla libero!
</p>